<div>
  <button class="btn btn-danger" (click)="getstudent()">get student data</button>
</div>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
        <th>Id</th>
        <th>Roll No</th>
        <th>Name</th>
        <th>age</th>
        <th>Email</th>
        <th>Date</th>
        <th>Gender</th>
    </tr>
</thead>
<div class="text-center">
  <p class="lead" *ngIf="loading">Loading........</p>
</div>
<tbody>
  <tr *ngFor="let result of xtra">
    <td>{{result.id}}</td>
    <td>{{result.rollNo}} <i class="fa fa-heart" aria-hidden="true"></i> </td>
    <td>{{result.name}}</td>
    <td>{{result.age}}</td>
    <td>{{result.email}}</td>
    <td>{{result.date}}</td>
    <td>{{result.isMale}}</td><hr>
  </tr>
</tbody>
</table>