<ion-content>
  
    <form >
      
      <ion-item>
          <ion-label position="stacked" color="primary">Roll No</ion-label>
          <ion-input type="number" [(ngModel)]="studentdata.rollNo" name="rollno"  required>
          </ion-input>
      </ion-item>  
      <ion-item>
          <ion-label position="stacked" color="primary">Name</ion-label>
          <ion-input type="text" name="name" [(ngModel)]="studentdata.name"  required>
          </ion-input>
      </ion-item>
      <ion-item>  
          <ion-label position="stacked" color="primary">Age</ion-label>
          <ion-input type="number" [(ngModel)]="studentdata.age" name="age" required>
          </ion-input>
        </ion-item>
      <ion-item>
          <ion-label position="stacked" color="primary">Email</ion-label>
          <ion-input type="text" [(ngModel)]="studentdata.email" name="email" required>
          </ion-input>
        </ion-item>
      <ion-item> 
          <ion-label position="stacked" color="primary">Date</ion-label>
          <ion-input  type="date" [(ngModel)]="studentdata.date" name="date" required>
          </ion-input>
        </ion-item>
      <ion-item>  
          <ion-label position="stacked" color="primary">isMale</ion-label>
          <ion-input type="text" [(ngModel)]="studentdata.isMale" name="gender" required>
          </ion-input>
        </ion-item>
        
      <ion-button color="primary" (click)="onSubmit()" >submit</ion-button>
    </form>
  
</ion-content>